$border-margin-left-right: 6px;
$border-margin-top-bottom: -2px;

.spades,
.clubs {
  color: black;
}

.hearts,
.diamonds {
  color: red;
}

.playingCard {
  border: 1px solid;
  border-color: black;
  border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  -webkit-border-radius: 0.5em;
  -khtml-border-radius: 0.5em;
  letter-spacing: -5px;
  text-indent: -5px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 88.9mm;
  width: 57.15mm;
  position: relative;
  font-family: arial;
  display: inline-block;

  .valueUpperLeft,
  .valueLowerRight,
  .valueUpperRight,
  .valueLowerLeft,
  .suitUpperLeft,
  .suitUpperRight,
  .suitLowerRight,
  .suitLowerLeft {
    position: absolute;
    font-size: 2.8em;
    display: inline-block;
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }

  .valueUpperLeft {
    top: $border-margin-top-bottom;
    left: -$border-margin-left-right;
  }

  .valueUpperRight {
    top: $border-margin-top-bottom;
    right: -$border-margin-left-right;
  }

  .valueLowerRight,
  .valueLowerLeft,
  .suitLowerLeft,
  .suitLowerRight {
    -moz-transform: rotate(-180deg); /* Gecko */
    -o-transform: rotate(-180deg); /* Opera */
    -webkit-transform: rotate(-180deg); /* Webkit */
    transform: rotate(-180deg);
  }

  .valueLowerRight {
    bottom: $border-margin-top-bottom;
    right: -$border-margin-left-right;
  }

  .valueLowerLeft {
    bottom: $border-margin-top-bottom;
    left: -$border-margin-left-right;
  }

  .suitLowerRight {
    bottom: $border-margin-top-bottom + 38px;
    right: -$border-margin-left-right;
  }

  .suitLowerLeft {
    bottom: $border-margin-top-bottom + 38px;
    left: -$border-margin-left-right;
  }

  .suitUpperLeft {
    top: $border-margin-top-bottom + 38px;
    left: -$border-margin-left-right;
  }

  .suitUpperRight {
    top: $border-margin-top-bottom + 38px;
    right: -$border-margin-left-right;
  }
}
